@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@300,500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300&f[]=chillax@500,200&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Satoshi';
}

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full cursor-pointer
    hover:bg-gray-300;
  }
}