@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

body {
  background-color: rgb(255, 255, 255);
}

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full cursor-pointer
    hover:bg-gray-300;
  }
}

.heropatt {
  background-color: white;
/* background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

.trans {
  transition-duration: 0.2s;
}

input {
  padding: 12px;
}

.textt {
  font-family: 'Montserrat', monospace;
  font-weight: 400;
  font-size: 2.4rem;
}

.signupbg {
  background-color: linear-gradient(to bottom, #1c1c1c 60%, #ffffff 60%);
}

.montes {
  font-family: 'Montserrat', monospace;
  font-weight: 400;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.signupp {
  border-radius: 50px;
  box-shadow:  20px 20px 60px #b26060,
             -20px -20px 60px #f08282;
}

#particles-js {
  width: 100%;
}